*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
@font-face
{
    font-family: 'Nunito-VariableFont_wght';
    src: url('fonts/Nunito-VariableFont_wght.ttf');
}
body
{
    font-family: 'Nunito-VariableFont_wght';
    background-image:url("images/bground.png");
    background-attachment: fixed; 
	background-position: center; 
	background-size: cover;
}
a
{
    color: rgb(255, 255, 255);
}
nav
{
    height: 80px;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
label.title
{
    color: rgb(242, 242, 242);
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
    margin-left: 50px;
    letter-spacing: 4px;
}
nav ul
{
    display: block;
    margin-right: 20px;
    padding: 0;
    list-style: none;
    float: right;
}
ul li
{ 
    color: white;
    display: inline-block;
    position: relative;
    line-height: 80px;
    margin: 0 5px;
    text-transform: uppercase;
}
li ul 
{
    display: none;
}
ul li a 
{
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}
li ul.course
{
    height: 400px;
    overflow-y: scroll;
}
::-webkit-scrollbar 
{
    padding-right: 3px;
    width: 10px;
}
::-webkit-scrollbar-track 
{
    background-color: transparent;
}
::-webkit-scrollbar-thumb 
{
    background-color: #0082e6;
    border-radius: 100px;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
  


li:hover > ul 
{
    background-color: #0c2a7a;
    display: block; 
    position: absolute;
}

ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul:after {
    clear: both;
}
a:hover
{
    color: rgb(0, 0, 0);
    
}
.chckbtn
{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
@media (max-width: 952px)
{
    label.title
    {
        font-size: 30px;
        padding-left: 50px;
    }
    h1
    {
        font-size: 20px;
    }
    nav ul li a
    {
        font-size: 16px;
    }
    
}
@media (max-width: 858px)
{   
    .chckbtn
    {
        display: block;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #214198;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li
    {
        display: block;
    }
    nav ul li a
    {
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px; 
    }
    a:hover
    {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul
    {
        left: 0;
    }
    
}
h2
{
    text-align: center;
    color: white;
    margin: 25px 0;
}
.div1
{
    display: block;
    height: 440px;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0);
}
/* hide scrollbar but allow scrolling */
.div1 
{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
::-webkit-scrollbar 
{
    width: 10px;
}
::-webkit-scrollbar-track 
{
    background-color: transparent;
}
::-webkit-scrollbar-thumb 
{
    background-color: transparent;
    border-radius: 100px;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}  
table
{
    background-color: rgb(227 227 227);
}
td
{
    font-size: 14px;
    font-weight: bold;
}
tr
{
    width: 100px;
}
#btns
{
    display: block;
    height: 60px;
    margin: 25px 0px;
}
#update_btn
{
    background-color: #214198;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
#add_btn, #add_grade_btn
{
    background-color: #214198;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
#view_btn
{
    background-color: #214198;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
input[type=text], input[type=tel], select 
{
    width: 240px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date]
{
    width: 120px;
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#num
{
    width: 150px;
}
#name, #address
{
    width: 350px;
}
#mother, #father
{
    width: 250px;
}
#footer 
{
    background-color: #0c2a7a;
    text-align: center;
    line-height: 80px;
    color: white;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}