
h1
{
    text-align: center;
    color: white;
    margin: 25px 0;
}
#div1
{
    margin-top: 6px;
    margin-bottom: 11px;
    margin-left: 10%;
    width: max-content;
}
.search
{
    width: 25px;
    height: auto;
    margin-top: 5px;
}
.searchbtn
{
    width: 40px;
    height: 36px;
    border: 1px solid white;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
}
input[type=text],textarea 
{    
    padding: 15px;
    font-size: 17px;
    background-color: transparent;
    resize: none;
    width: fit-content;
    border: 3px solid white;
    height: 20px;
    border-radius: 25px 0 0 25px;
    outline: none;
    color: white;
}
::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(210, 210, 210);
    opacity: .5; /* Firefox */
}
  
:-ms-input-placeholder 
{ /* Internet Explorer 10-11 */
    color: rgb(210, 210, 210);
}
  
::-ms-input-placeholder 
{ /* Microsoft Edge */
    color: rgb(210, 210, 210);
}
#div2
{
    width: inherit;
    height: 100%;
}
table.student-list-content
{
    border-collapse: collapse;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
tbody
{
    border-radius: 25px;
}
th
{
	border-bottom: 2px solid rgb(72, 72, 72);
	background-color: rgb(247, 247, 247);
	padding: 1em;
    color: #214198;
}
td 
{
	padding: 1em;
}
tr
{
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
#footer 
{
    background-color: #0c2a7a;
    text-align: center;
    line-height: 80px;
    color: white;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
