
@font-face
{
    font-family: 'Nunito-VariableFont_wght';
    src: url('fonts/Nunito-VariableFont_wght.ttf');
}

body
{
    font-family: 'Nunito-VariableFont_wght';
    background-image:url("images/bground.png");
    background-attachment: fixed; 
	background-position: center; 
	background-size: cover;
    margin: 25px;
	padding: 0;
}
h1
{
    text-align: center;
    color: white;
}
#div1
{
    display: block;
    height: max-content;
    margin: auto;
    width: fit-content;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 1);
}
/* hide scrollbar but allow scrolling */
#div1 
{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
#div1::-webkit-scrollbar 
{
    display: none; /* for Chrome, Safari, and Opera */
}
table
{
	margin-left: 20px;
    margin-right: 20px;
}
#update
{
    
    background-color: #214198;
    border: none;
    border-radius:20px;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
}
input[type=text], input[type=tel]
{
  	width: 350px;
 	padding: 12px 20px;
 	margin: 8px 0;
 	display: inline-block;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
}
fieldset
{
	background-color: #f2ead5;
}
select 
{
    width: 120px;
    text-align: center;
    padding: 11px 1px;
    margin: 5px 0;
}